.stat {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.stat__title {
    font-weight: 600;
    text-transform: uppercase;
}

.stat__value {
    text-transform: capitalize;
}

.stat:not(:last-child) {
    margin-bottom: 8px;
}